
<div *ngIf="bien">
    <h2><span>Bien</span> {{bien.id}} - {{bien.etatBien?.nom}}</h2>
    <hr>

    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <dt><span>Type de bien</span></dt>
                <dd>{{bien.typeBien?.nom}} </dd>
            </div>
            <div class="col-md-4">
                <span><dt>Photo</dt></span>

                <div *ngIf="bien.photo">
                    <a (click)="openFile(bien.photoContentType, bien.photo)">
                        <img [src]="'data:' + bien.photoContentType + ';base64,' + bien.photo" style="max-width: 100%;" alt="bien image" alt="Responsive image"/>
                    </a>
                    <dl class="row-md jh-entity-details">
                        <dt><span>Adresse</span></dt>
                        <dd>
                            <span>{{bien.adresse}}</span>
                        </dd>
                        <dt><span>NPA Localité</span></dt>
                        <dd>
                            <span>{{bien.npa}} {{bien.localite}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-3">
                <dl class="row-md jh-entity-details">
                    <dt><span>Prix</span></dt>
                    <dd>
                        <span>{{bien.prix| number : fractionSize}} CHF</span>
                    </dd>
                    <dt><span>Année de construction</span></dt>
                    <dd>
                        <span>{{bien.anneeConstruction | date:'yyyy'}}</span>
                    </dd>
                    <dt><span>Nombre de pièces</span></dt>
                    <dd>
                        <span>{{bien.nbPieces}}</span>
                    </dd>
                    <dt><span>Description</span></dt>
                    <dd>
                        <span>{{bien.description}}</span>
                    </dd>
                </dl>
            </div>
            <div class="col-2" *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_AGENTIMMO']" >
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="bien.client"> Id :
                        <a [routerLink]="['/client', bien.client?.id]">{{bien.client?.id}}</a>
                    </div>
                        {{bien.client.nom}}     {{bien.client.prenom}}
                </dd>
            </div>
        </div>

    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_AGENTIMMO']"  type="button"
            [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>


</div>
