
<div *ngIf="agentImmobilier">
    <h2><span>Agent Immobilier</span> {{agentImmobilier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{agentImmobilier.nom}}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
            <span>{{agentImmobilier.prenom}}</span>
        </dd>
        <dt><span>Npa</span></dt>
        <dd>
            <span>{{agentImmobilier.npa}}</span>
        </dd>
        <dt><span>Localite</span></dt>
        <dd>
            <span>{{agentImmobilier.localite}}</span>
        </dd>
        <dt><span>Num Tel</span></dt>
        <dd>
            <span>{{agentImmobilier.numTel}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{agentImmobilier.email}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{agentImmobilier.adresse}}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>User</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            {{agentImmobilier.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'agent-immobilier/'+ agentImmobilier.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
