<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAgentImmobilierLabel">Créer ou modifier un agent Immobilier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!agentImmobilier.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="agentImmobilier.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="agentImmobilier.nom" required pattern="^[a-zA-Z0-9]*$"/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.pattern">
                    This field should follow pattern for "Nom".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="agentImmobilier.prenom" required pattern="^[a-zA-Z0-9]*$"/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.prenom?.errors?.pattern">
                    This field should follow pattern for "Prenom".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                   [(ngModel)]="agentImmobilier.adresse" required/>
            <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.adresse?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_npa">Npa</label>
            <input type="text" class="form-control" name="npa" id="field_npa" placeholder="1000"
                [(ngModel)]="agentImmobilier.npa" required pattern="[0-9]{4}"/>
            <div [hidden]="!(editForm.controls.npa?.dirty && editForm.controls.npa?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.npa?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_localite">Localite</label>
            <input type="text" class="form-control" name="localite" id="field_localite"
                [(ngModel)]="agentImmobilier.localite" required/>
            <div [hidden]="!(editForm.controls.localite?.dirty && editForm.controls.localite?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.localite?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numTel">Num Tel</label>
            <input type="text" class="form-control" name="numTel" id="field_numTel" placeholder="033 444 55 66 ou 0323334455"
                [(ngModel)]="agentImmobilier.numTel" required pattern="0[1-9][0-9]([/ ]?[0-9]{3})([/ ]?[0-9]{2}){2}"/>
            <div [hidden]="!(editForm.controls.numTel?.dirty && editForm.controls.numTel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numTel?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <div *ngIf="agentImmobilier.user">
                {{agentImmobilier.user.login}}
            </div>
            <select *ngIf="!agentImmobilier.user" class="form-control" id="field_user" name="user" [(ngModel)]="agentImmobilier.user" required>

                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === agentImmobilier.id ? agentImmobilier : userOption" *ngFor="let userOption of usersDispo; trackBy: trackUserById">{{userOption.login}} {{userOption.authorities}}</option>
            </select>
        </div>
        <!--<div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="agentImmobilier.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>-->


        <!--<div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="agentImmobilier.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === agentImmobilier.user?.id ? agentImmobilier.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>-->

        <!-- user-->
        <!--  <div class="form-group">
          <label class="form-control-label" for="login">Pseudo</label>
          <input type="text" class="form-control" [(ngModel)]="agentImmobilier.user.login" id="login" name="login" #login="ngModel" placeholder="Ton pseudo"
                 required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
          <div *ngIf="login.dirty && login.invalid">
              <small class="form-text text-danger" *ngIf="login.errors.required">
                  Your username is required.
              </small>
              <small class="form-text text-danger" *ngIf="login.errors.minlength"
              >
                  Your username is required to be at least 1 character.
              </small>
              <small class="form-text text-danger" *ngIf="login.errors.maxlength"
              >
                  Your username cannot be longer than 50 characters.
              </small>
              <small class="form-text text-danger" *ngIf="login.errors.pattern"
              >
                  Your username can only contain letters and digits.
              </sma          </div>
          </div>

     <!-- <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Ton email"
                 [(ngModel)]="agentImmobilier.user.email" minlength=5 maxlength=100 email required>
          <div *ngIf="email.dirty && email.invalid">
              <small class="form-text text-danger" *ngIf="email.errors.required"
              >
                  Your email is required.
              </small>
              <small class="form-text text-danger" *ngIf="email.errors.invalid"
              >
                  Your email is invalid.
              </small>
              <small class="form-text text-danger" *ngIf="email.errors.minlength"
              >
                  Your email is required to be at least 5 characters.
              </small>
              <small class="form-text text-danger" *ngIf="email.errors.maxlength"
              >
                  Your email cannot be longer than 100 characters.
              </small>
          </div>
      </div>
      <div class="form-group">
          <label class="form-control-label" for="password">Nouveau mot de passe</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Nouveau mot de passe"
                 [(ngModel)]="agentImmobilier.user.password" minlength=4 maxlength=50 required>
          <div *ngIf="password.dirty && password.invalid">
              <small class="form-text text-danger" *ngIf="password.errors.required">
                  Tom mot de passe est obligatoire
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.minlength">
                  Your password is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                  Your password cannot be longer than 50 characters.
              </small>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
      </div>
      <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirme ton nouveau mot de passe"
                 [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
              >
                  Your confirmation password is required.
              </small>
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
              >
                  Your confirmation password is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
              >
                  Your confirmation password cannot be longer than 50 characters.
              </small>
          </div>
      </div>
          <div class="form-group">
              <label>Profiles</label>
              <select class="form-control" multiple name="authority" [(ngModel)]="agentImmobilier.user.authorities">
                  <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
              </select>
          </div>

      </div>-->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
