<div>
    <h2>
        <span>Type Biens</span>
        <button class="btn btn-primary float-right jh-create-entity create-type-bien" [routerLink]="['/', { outlets: { popup: ['type-bien-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Créer un type de bien
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typeBiens">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeBien of typeBiens ;trackBy: trackId">
                <td><a [routerLink]="['../type-bien', typeBien.id ]">{{typeBien.id}}</a></td>
                <td>{{typeBien.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../type-bien', typeBien.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Aperçu</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-bien/'+ typeBien.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-bien/'+ typeBien.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
