<div>

    <h2>
        <span>Tous les biens à vendre</span>
    </h2>
 <!--   <div class="alert alert-info" role="alert">
       Pour obtenir plus de détails, veuillez cliquer sur le numéro ID
    </div>
-->
<!--filtre qui ne fonctionne pas, ne retourne pas la valeur choisi-->
<div class="col-2" >
    <form>
       <h3>Filtre</h3>

        <div class="form-group" >
            <label class="form-control-label" for="field_typeBien">Type Bien</label>
            <select class="form-control" id="field_typeBien" name="typeBien"   [(ngModel)]="typebien">
                <option [ngValue]="null"></option>
                <option [ngValue]="typeBienOption.nom === typeBien?.nom ? typeBien : typeBienOption" *ngFor="let typeBienOption of typebiens; trackBy: trackTypeBienByNom">{{typeBienOption.nom}}</option>
            </select>
        </div>

        <button type="submit" (click)="filtre()" class="btn btn-primary">
            <span ></span>&nbsp;<span>Appliquer</span>
        </button>

    </form>
</div>

    <!--<jhi-alert></jhi-alert>-->
    <div class="row">
    </div>
    <br/>
  <!--  <div class="table-responsive" *ngIf="biens">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Prix</span></th>
                <th><span>Photo</span></th>
                <th><span>Type Bien</span></th>
                <th><span>Adresse</span></th>
                <th><span>NPA</span></th>
                <th><span>Localité</span></th>
                <th><span>Année de construction</span></th>
                <th><span>Nb Pièces</span></th>
                <th><span>Description</span></th>

                <th></th>
                &lt;!&ndash;<th><span>Client</span></th>&ndash;&gt;
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bien of biens ;trackBy: trackId">
                <td><a [routerLink]="['../bien', bien.id ]">{{bien.id}}</a></td>
                <td>{{bien.prix| number : fractionSize}} CHF</td>
                <td>
                    <a *ngIf="bien.photo" >
                        <img [src]="'data:' + bien.photoContentType + ';base64,' + bien.photo" style="max-height: 50px;" alt="bien image"/>
                    </a>
                </td>

                <td>{{bien.typeBien?.nom}}</td>
                <td>{{bien.adresse}}</td>
                <td>{{bien.npa}}</td>
                <td>{{bien.localite}}</td>
                <td  class="text-center">{{bien.anneeConstruction | date:'yyyy'}}</td>
                <td>{{bien.nbPieces}}</td>
                <td>{{bien.description}}</td>

                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'bienVisite/'+ bien.id + '/visite'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-info btn-sm">
                    <span class="fa fa-address-card-o"></span>
                    <span class="d-none d-md-inline">visite</span>
                </button>
                </td>
                &lt;!&ndash;
                <td>
                    <div *ngIf="bien.client">
                        <a [routerLink]="['../client', bien.client?.id ]" >{{bien.client?.id}}</a>
                    </div>
                </td>
              &ndash;&gt;
            </tr>
            </tbody>
        </table>
    </div>-->

    <div class="row"*ngIf="biens">
        <div class="col-sm-3"*ngFor="let bien of biens ;trackBy: trackId">
            <div  >
                <div  class="card" style="width: 18rem;">
                    <a *ngIf="bien.photo" >
                        <img  class="card-img-top" [src]="'data:' + bien.photoContentType + ';base64,' + bien.photo" style="max-height: 170px;"alt="Card image cap"/>
                    </a>

                    <div class="card-body">
                        <h5 class="card-title"> {{bien.prix| number : fractionSize}} CHF</h5>
                        <p>Référence : {{bien.id}}</p>
                        <h6>{{bien.typeBien?.nom}}</h6>
                        <p class="card-text">{{bien.description}}</p>
                        <a [routerLink]="['../bien', bien.id ]"class="btn btn-primary">Détail</a>

                            <a *jhiHasAnyAuthority="'ROLE_USER'"
                                    [routerLink]="['/', { outlets: { popup: 'bienVisite/'+ bien.id + '/visite'} }]"
                                    replaceUrl="true"

                                    class="btn btn-info ">
                                <span class="fa fa-address-card-o"></span>
                            visite
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
