<div class="modal-header">
    <h4 class="modal-title">Les visites du bien immoblier</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div class="modal-body">
     <div class="alert alert-success" *ngIf="success">
        <strong>Inscription enregistrée!</strong>
    </div>

    <div class="alert alert-danger" *ngIf="error">
        <strong>Inscription échouée</strong> Merci d'essayer plus tard
    </div>

    <div class="table-responsive"*ngIf="visite" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Date de début</span></th>
                <th><span>Date de fin</span></th>
                <th><span>Vendeur</span></th>
                <th><span>Bien</span></th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Client</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visite of visite ;trackBy: trackId">
                <td><a [routerLink]="['../visite', visite.id ]">{{visite.id}}</a></td>
                <td>{{visite.dateDebut | date:'hh:mm a MM/d/yyyy'}}</td>
                <td>{{visite.dateFin | date:'h:mm a MM/d/yyyy '}}</td>
                <td>
                    <div *ngIf="visite.agentImmobilier">
                        <a [routerLink]="['../vendeur', visite.agentImmobilier?.id ]" >{{visite.agentImmobilier.nom}} {{visite.agentImmobilier.prenom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="visite.bien">
                        <a [routerLink]="['../bien', visite.bien?.id ]" >{{visite.bien?.id}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span *ngFor="let client of visite.clients; let last = last">
                            <a class="form-control-static" [routerLink]="['../client', client?.id ]">{{client.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"

                                [routerLink]="['../visite', visite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *ngIf="!visite.client" type="submit"
                                (click)="inscription(visite.id)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">inscription</span>

                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- test-->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>

</div>
