<div>
    <h2>
        <span>Clients</span>
        <button class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/', { outlets: { popup: ['client-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Créer un nouveau client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Prénom</span></th>
            <th><span>Adresse</span></th>
            <th><span>NPA</span></th>
            <th><span>Localité</span></th>
            <th><span>Numéro de téléphone</span></th>
            <th><span>Email</span></th>
            <th><span>User</span></th>
            <th><span>Type de client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients ;trackBy: trackId">
                <td><a [routerLink]="['../client', client.id ]">{{client.id}}</a></td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.adresse}}</td>
                <td>{{client.npa}}</td>
                <td>{{client.localite}}</td>
                <td>{{client.numTel}}</td>
                <td>{{client.email}}</td>
                <td>
                    {{client.user?.login}}
                </td>
                <td>
                    <span *ngFor="let typeClient of client.typeClients; let last = last">
                            <a class="form-control-static" [routerLink]="['../type-client', typeClient?.nom ]">{{typeClient.nom}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client', client.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Aperçu</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
