<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel">Créer ou modifier un Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="client.nom" required pattern="^[a-zA-Z0-9]*$"/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.pattern">
                    This field should follow pattern for "Nom".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="client.prenom" required pattern="^[a-zA-Z0-9]*$"/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.prenom?.errors?.pattern">
                    This field should follow pattern for "Prenom".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="client.adresse" required/>
            <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adresse?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_npa">NPA</label>
            <input type="number" class="form-control" name="npa" id="field_npa" placeholder="1000"
                [(ngModel)]="client.npa" required pattern="[0-9]{4}"/>
            <div [hidden]="!(editForm.controls.npa?.dirty && editForm.controls.npa?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.npa?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.npa?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_localite">Localite</label>
            <input type="text" class="form-control" name="localite" id="field_localite"
                [(ngModel)]="client.localite" required/>
            <div [hidden]="!(editForm.controls.localite?.dirty && editForm.controls.localite?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.localite?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numTel">Num Tel</label>
            <input type="text" class="form-control" name="numTel" id="field_numTel" placeholder="033 444 55 66 ou 0323334455"
                [(ngModel)]="client.numTel" pattern="0[1-9][0-9]([/ ]?[0-9]{3})([/ ]?[0-9]{2}){2}" required />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="client.email" />
        </div>

        <div  class="form-group">
            <label class="form-control-label" for="field_user">User</label>
                <div *ngIf="client.user">
                    {{client.user.login}}
                </div>
            <select *ngIf="!client.user"class="form-control" id="field_user" name="user" [(ngModel)]="client.user" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === client.user?.id ? client.user : userOption" *ngFor="let userOption of usersDispo; trackBy: trackUserById">{{userOption.login}} {{userOption.authorities}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_typeClient">Type Client</label>
            <select class="form-control" id="field_typeClient" multiple name="typeClient" [(ngModel)]="client.typeClients">
                <option [ngValue]="getSelected(client.typeClients, typeClientOption)" *ngFor="let typeClientOption of typeclients; trackBy: trackTypeClientByNom">{{typeClientOption.nom}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Annulé</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>
