<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur le site d'Idéal Biens SA</h1>
        <p class="lead">Gestion des visites immobilières</p>
        <div class="row">
        <div class="col-md-6" [ngSwitch]="isAuthenticated()">
            <div class="alert alert-info" *ngSwitchCase="true">
                <span *ngIf="account"> Vous êtes connecté en tant que "{{account.login}}". </span>

            </div>

            <div>
                <p>Depuis 2000 ans, notre agence immobilière oeuvre en Suisse.</p>

                <p>Nous mettons à votre disposition notre réseau relationnel afin que vous puissiez aboutir, dans les meilleures conditions possibles, dans vos recherches immobilières.
                </p>
                <p> Venez trouver votre bien idéal grâce à nos annonces en ligne.
                    <br>
                    Nous sommes là pour vous conseiller, n'hésitez pas à nous contacter !
                </p>
                <p [ngSwitch]="isAuthenticated()"  *ngSwitchCase="false" >Inscrivez-vous afin de pouvoir effectuer des visites rapidement sur des biens qui vous intéresse.</p>
            </div>
            <div [ngSwitch]="isAuthenticated()"  *ngSwitchCase="true">
                <span> Vous avez la possibilité de vous inscrire à une visite</span>
                <br>
                <br>
            </div>
            <div class="alert alert-secondary" *ngSwitchCase="false">
                <a class="btn btn-light btn-rounded" routerLink="register"> Inscription</a>
            </div>
        </div>
        <div class="col-md-4">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img class="imgCarousel" src="../../content/images/maisonCarousel1.jpg" alt="Random first slide" height="50%" width="50%">
                    <div class="carousel-caption">
                        <h3>Belle maison spacieux</h3>
                        <p>Avec un beau jardin</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="imgCarousel" src="../../content/images/maisonCarousel2.jpg"  height="70%" width="70%" alt="Random second slide">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p>Avec des baies vitrées et un balcon</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="imgCarousel" src="../../content/images/maisonCarousel3.jpg"  height="70%" width="70%" alt="Random third slide">
                    <div class="carousel-caption">
                        <h3>Une belle salle à manger</h3>
                        <p></p>
                    </div>
                </ng-template>
            </ngb-carousel>


        </div>
        </div>

    </div>
</div>
