<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur le site d'AgenceImmoSA</h1>
        <p class="lead">Gestion des visites immobilières</p>

        <div class="col-md-6" [ngSwitch]="isAuthenticated()">
            <div class="alert alert-info" *ngSwitchCase="true">
                <span *ngIf="account"> Vous êtes connecté en tant que "{{account.login}}". </span>

            </div>
            <div [ngSwitch]="isAuthenticated()">
                <span> Vous avez la possibilité de vous inscrire à une visite</span>
                <br>
                <br>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet
                elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam.
                Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit.
                Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper
                at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
            </div>
            <div class="alert alert-secondary" *ngSwitchCase="false">
                <a class="btn btn-light btn-rounded" routerLink="register"> Inscription</a>
            </div>
        </div>

    </div>
</div>
