
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h4 class="display-4">Vos visites  </h4>
    </div>
</div>

<div class="container">
    <!-- *ngIf="visites"-->
    <div class="alert alert-success" *ngIf="success">
        <strong>Désistement enregistré</strong>
    </div>

    <div class="alert alert-danger" *ngIf="error">
        <strong>Désistement échoué</strong> Merci d'essayer plus tard
    </div>

    <div class="table-responsive" *ngIf="visites">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Date de début</span></th>
                <th><span>Date de fin</span></th>
                <th><span>Vendeur</span></th>
                <th><span>Bien</span></th>
                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Client</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visite of visites ;trackBy: trackId">
                <td><a [routerLink]="['../visite', visite.id ]">{{visite.id}}</a></td>
                <td>{{visite.dateDebut | date:'hh:mm a dd/MM/yyyy'}}</td>
                <td>{{visite.dateFin | date:'hh:mm a dd/MM/yyyy'}}</td>
                <td>
                    <div *ngIf="visite.agentImmobilier">
                        <a [routerLink]="['../agent-immobilier', visite.agentImmobilier?.id ]" >{{visite.agentImmobilier?.nom}} {{visite.agentImmobilier.prenom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="visite.bien">
                        <a [routerLink]="['../bien', visite.bien?.id ]" >{{visite.bien?.id}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div *ngIf="visite.clients">
                      <span *ngFor="let client of visite.clients; let last = last">
                     <a [routerLink]="['/client', client?.id ]">{{client.id}}</a>{{last ? '' : ', '}}
                    </span>
                    </div>
                </td>
                <td class="text-right">
                    <!--ajout bouton suppression du client à la visite-->
                    <button  type="submit"
                            (click)="desister(visite.id)"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline">se désister</span>
                    </button>

                   <!-- <div class="btn-group flex-btn-group-container" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="submit"
                                [routerLink]="['../visite', visite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visite/'+ visite.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visite/'+ visite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
