<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Présentation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Notre société</h3>
            <p>L’immobilier est notre métier et la satisfaction de nos clients notre mission!</p>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h3>Nos agences</h3>
            <p>bla bal</p>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h3>Notre équipe</h3>
            <p>bla bal</p>
        </div>

    </div>







</div>
