<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center"><b>Présentation</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Notre société</h3>
            <p>L’immobilier est notre métier et la satisfaction de nos clients notre mission!</p>
            <p>Nous vous trouver depuis des années des biens qui vous correspondent.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h3>Nos agences</h3>
            <p>Nous disposons de plusieurs agences situées dans la Suisse romande. Une à Delémont, une à Neuchâtel, une à Genève et une au Valais</p>
           <div class="row">
                <div class="col-3">
                    <h5>Agence du Jura</h5>
                    <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/jura.jpg"/>
                    <p>Delémont</p>
                </div>
                <div class="col-3">
                    <h5> Agence de Neuchâtel</h5>
                    <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/neuchatel.jpg"/>
                    <p>Neuchâtel</p>
                </div>
                <div class="col-3">
                    <h5>Agence de Genève</h5>
                    <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/geneve.jpg"/>
                    <br>
                    <br>
                    <p>Genève</p>
                </div>
                <div class="col-3">
                    <h5> Agence du Valais</h5>
                    <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/valais.jpg"/>
                    <p>Sierre</p>
                </div>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Notre équipe</h3>
            <p>Notre équipe est professionelle et qualifiée pour vous satisfaire.</p>
            <div class="row">
                <div class="col-3">
                    <p><b> Directeur</b>
                        <br>
                        Monsieur
                        <br>
                  Dupond Jean-Jacques</p>
                    <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/directeur.jpg"/>
                </div>
                <div class="col-9">
                    <p><b>Responsables de filiale</b></p>
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <p>Delémont:
                                <br>
                                Madame
                                <br>
                            DuSchtroump Geneviève</p>
                            <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/respDelemont.jpeg"/>
                        </div>
                        <div class="col-3">
                            <p>Neuchâtel:
                                <br>
                                Monsieur
                                <br>
                            Croissant Thierry</p>
                            <img height="150" class="img-fluid" alt="Responsive image"  src="../../content/images/respoNeu.jpg"/>
                        </div>
                        <div class="col-3">
                            <p>Genève:
                                <br>
                                Monsieur
                                <br>
                           Kohler Arthur</p>
                            <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/responValais.jpg"/>
                        </div>
                        <div class="col-3">
                            <p>Valais:
                                <br>
                                Madame
                                <br>
                                 Genoise Eva
                            </p>
                            <img height="150" class="img-fluid" alt="Responsive image" src="../../content/images/respoValais.jpg"/>
                        </div>

                    </div>
                    </div>



                </div>

            </div>
        </div>

    </div>







</div>
