<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVisiteLabel">Créer ou modifier Visite</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!visite.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="visite.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateDebut">Date Debut</label>
            <div class="d-flex">
                <input id="field_dateDebut" type="datetime-local" class="form-control" name="dateDebut" [(ngModel)]="visite.dateDebut"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateDebut?.dirty && editForm.controls.dateDebut?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateDebut?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateDebut?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateFin">Date Fin</label>
            <div class="d-flex">
                <input id="field_dateFin" type="datetime-local" class="form-control" name="dateFin" [(ngModel)]="visite.dateFin"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_etatVisite">Etat Visite</label>
            <select class="form-control" id="field_etatVisite" name="etatVisite" [(ngModel)]="visite.etatVisite" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="etatVisiteOption.id === visite.etatVisite?.id ? visite.etatVisite : etatVisiteOption" *ngFor="let etatVisiteOption of etatvisites; trackBy: trackEtatVisiteById">{{etatVisiteOption.nom}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bien">Bien</label>
            <select class="form-control" id="field_bien" name="bien" [(ngModel)]="visite.bien" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="bienOption.id === visite.bien?.id ? visite.bien : bienOption" *ngFor="let bienOption of biens; trackBy: trackBienById">{{bienOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_agentImmobilier">Agent Immobilier</label>
            <select class="form-control" id="field_agentImmobilier" name="agentImmobilier" [(ngModel)]="visite.agentImmobilier" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="agentImmobilierOption.id === visite.agentImmobilier?.id ? visite.agentImmobilier : agentImmobilierOption" *ngFor="let agentImmobilierOption of agentimmobiliers; trackBy: trackAgentImmobilierById">{{agentImmobilierOption.id}}</option>
            </select>
        </div>
        <!--<div class="form-group">
            <label for="field_client">Client</label>
            <select class="form-control" id="field_client" multiple name="client" [(ngModel)]="visite.clients">
                <option [ngValue]="getSelected(visite.clients, clientOption)" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
