
<div *ngIf="visite">
    <h2><span>Visite</span> {{visite.id}}- {{visite.etatVisite?.nom}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date Debut</span></dt>
        <dd>
            <span>{{visite.dateDebut | date:'medium'}}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
            <span>{{visite.dateFin | date:'medium'}}</span>
        </dd>

        <dt><span>Bien</span></dt>
        <dd>
            <div *ngIf="visite.bien">
                <a [routerLink]="['/bien', visite.bien?.id]">{{visite.bien?.id}}</a>
            </div>
        </dd>
        <dt><span>Agent Immobilier</span></dt>
        <dd>
            <div *ngIf="visite.agentImmobilier">
                <a [routerLink]="['/agent-immobilier', visite.agentImmobilier?.id]">{{visite.agentImmobilier?.nom}} {{visite.agentImmobilier?.prenom}}</a>
            </div>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Client</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span *ngFor="let client of visite.clients; let last = last">
                <a [routerLink]="['/client', client?.id ]">{{client.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'visite/'+ visite.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
